:root {
  --nti-radius-none: 0px;
  --nti-radius-sm:   2px;
  --nti-radius:      4px;
  --nti-radius-md:   6px;
  --nti-radius-lg:   8px;
  --nti-radius-xl:   12px;
  --nti-radius-2xl:  16px;
  --nti-radius-3xl:  24px;
  --nti-radius-full: 9999px;
}
