:root {
  --nti-space-0:    0px;
  --nti-space-px:   1px;
  --nti-space-0-5:  2px;
  --nti-space-1:    4px;
  --nti-space-1-5:  6px;
  --nti-space-2:    8px;
  --nti-space-2-5:  10px;
  --nti-space-3:    12px;
  --nti-space-3-5:  14px;
  --nti-space-4:    16px;
  --nti-space-5:    20px;
  --nti-space-6:    24px;
  --nti-space-7:    28px;
  --nti-space-8:    32px;
  --nti-space-9:    36px;
  --nti-space-10:   40px;
  --nti-space-11:   44px;
  --nti-space-12:   48px;
  --nti-space-14:   56px;
  --nti-space-16:   64px;
  --nti-space-20:   80px;
  --nti-space-24:   96px;
  --nti-space-28:   112px;
  --nti-space-32:   128px;
  --nti-space-36:   144px;
  --nti-space-40:   160px;
  --nti-space-44:   176px;
  --nti-space-48:   192px;
  --nti-space-52:   208px;
  --nti-space-56:   224px;
  --nti-space-60:   240px;
  --nti-space-64:   256px;
  --nti-space-72:   288px;
  --nti-space-80:   320px;
  --nti-space-96:   384px;
}
